<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>        
        I am a Product Design Engineer with 7 years experience in the industry. Over the years I have had two major roles and have developed knowledge in many disciplines.
        
        I have been involved in all stages of product development from market research through to prototyping and releasing for manufacture.
        
        I work closely with fabricators to achieve high quality products that also excellent value.
        
        Types of manufacturing that I have worked with include:
        
        <li>Sheet Metal Folding</li>
        <li>Machining</li>
        <li>Laser Cutting</li>
        <li>Joining</li>
        <li>Aluminium Extrusion</li>
        <li>Plastic Extrusion</li>
        <li>Injection Moulding</li>
        <li>3D Printing</li>
        <li>CNC</li>
        <br>
        I am fluent in the use Solidworks, Keyshot, Inventor and Autocad and designed parts and products using all of the above processes, creating detailed 3D CAD parts and manufacturing drawings suitable for production.


        I also have worked in my free time as a machinist and mechanic. I have rebuilt many different types of engine, from classic cars to motorcycles.
        I have also machined and designed parts for cars and accessories for motorbikes.
    </p>
</div><!--//summary-->
</section><!--//section-->
