 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BEng Mechanical Engineering: 2:2 (Hons)</h4>
    <h5 class="meta">University of the West of England, Bristol</h5>
    <div class="time">2011 - 2015</div>
</div><!--//item-->
  
<div class="item">
    <h5 class="meta">The Henley College</h5>
    <div class="time">2009 - 2011</div>
</div><!--//item-->

<div class="item">
    <h5 class="meta">Gillotts School, Henley</h5>
    <div class="time">2004 - 2009</div>
</div><!--//item-->
  
</div><!--//education-container-->
