<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Career Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Engineer, <a href="dowell.com.au">Dowell, Australia</a></h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">National design and sales of windows and doors </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            As the product engineer, I have been responsible for designing new product componentry. This includes testing of products to Australian standard 2047-2014. This also involves teaching manufacturing and sales of these new products.
                        </p>  
                        <p>
                            This has lead me to build on my experience with injection moulding, aluminium extruding, Fabrication and 3D printing. Click <a href="http://www.dowell.com.au/products.html">here</a> for more information.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design Engineer, <a href="http://teammateworld.com/">Team Mate, England</a></h3>
                            <div class="time">2011 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">A company dedicated to the design and creation of presentation systems</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                                Before moving to Australia, I was responsible for designing and testing of new products. I developed an advanced understanding of SolidWorks, AutoDesk and keyshot. I worked closely with fabricators to produce parts and end users to understand client requirements. This lead to all the collaboration furniture portfolio to built which you can visit <a href="http://teammateworld.com/products/ ">here</a>.
                        </p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
