<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here are a list of projects that I have worked on and completed in the past. For more information, don't hesitate to get in <a href="mailto:davidmassey654@gmail.com">touch.</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="http://teammateworld.com/workszone-oval-collaboration-table/" target="_blank">Collaborative table</a></span> - 
                    <span class="project-tagline">Fully designed and engineered range of corporate collaborative furniture.
Created from sheet metal and stainless steel this product was designed as a high end product with quality being the main goal in the design brief.
The product encompasses the ability to have High quality AV technology installed and fully height adjustable on 2 actuators.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://designerline.com/" target="_blank">DesignerLine Door range</a></span> - <span class="project-tagline">Current project working with Dowell windows to create a new range of Door capable of large sizes in high wind and water areas</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="mailto:davidmassey654@gmail.com" target="_blank">Woodform Garden Shelter</a></span> - <span class="project-tagline">Design, render and construction drawing of garden shelter using innovative cladding supplied by WoodForm. This was a simple project to bring to life a clients idea of a custom Garden shelter.</span>
                </div><!--//item-->
            </section><!--//section-->
